<link rel="stylesheet" href="/stylesheets/nav.css">
<%let home = ''%>
<%let login = ''%>
<%if(navCheck === 'home'){%>
<%    home = 'active'%>
<%} else if(navCheck === 'login'){%>
<%    login = 'active'%>
<%}%>

<div class="navigation">
    <ul>
      <li class="list <%= home%>">
        <a href="/">
          <span class="icon">
            <i class="ri-home-4-line"></i>
          </span>
        </a>
      </li>
      <li class="list <%= login%>">
        <a href="/login">
          <span class="icon">
            <i class="ri-user-5-line"></i>
          </span>
        </a>
      </li>
      <li class="list">
        <a href="/create">
          <span class="icon">
            <i class="ri-add-circle-line"></i>
          </span>
        </a>
      </li>
      <li class="list">
        <a href="/search">
          <span class="icon">
            <i class="ri-search-2-line"></i>
          </span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
          </span>
        </a>
      </li>
      <div class="indicator"><span></span></div>
    </ul>
  </div>
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/javascripts/nav.js"></script>