<% let bd = 0 %>
<% if(budget){ %>
    <% bd = budget %>
<% } %>
<% if(totalSpend){ %>
    <div class="totalSpendDiv">
        <span class="totalbusgetspn">
          <p class="pTag">Total Budget</p>
          <p class="amountShow green"><strong>Rs.</strong><span class="redShow"><%= bd %></span> </p>
        </span>
        <span class="totalspendspn">
          <p class="pTag">Total Spend</p>
          <p class="amountShow red"><strong>Rs.</strong> <span class="greenShow"><%= totalSpend %></span></p>
        </span>
        <a href="/logOut" class="logOut"><i class="ri-logout-box-line"></i>Log-Out</a>
      </div>
      
<%}%>


  <style>
    .logOut{
      position: absolute;
      top: 25%;
      right: 50%;
      background-color: #fff;
      padding: 5px 10px;
      border-radius: 10px;
      transform: translateX(50%);
    }
    .totalSpendDiv{
  width: 400px;
  height: 40px;
  position: fixed;
  top: 77px;
  /* background-color: #aaa; */
  left: 50%;
  transform: translateX(-50%);
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* padding: 0 20px; */
  color: #404040;
}
.totalSpendDiv >span{
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.totalbusgetspn{
    background-color: #fad1d1;
}
.totalspendspn{
    background-color: rgb(211, 255, 233);
}
.pTag{
    font-weight: 700;
}
.redShow{
    color: rgb(156, 0, 0);
    font-weight: 700;
}
.greenShow{
    color: green;
    font-weight: 700;
}
  </style>